<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title> Edit User </title>
</head>
<body>
<form th:method="Post" th:action="@{/edit}" th:object = "${editUser}">
    <input name="id" th:field="*{id}" th:value="${editUser.id}" hidden="hidden">
    <label for="firstname"> Change first name: </label>
    <input type = "text" th:field="*{firstName}" id="firstname"/>
    <br>
    <label for="lastname"> Change last name: </label>
    <input type = "text" th:field="*{lastName}" id="lastname"/>
    <br>
    <label for="age"> Change age: </label>
    <input type = "text" th:field="*{age}" id="age"/>

    <br>

    <input type="submit" value="Update user"/>
</form>
</body>

</html>